/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





@font-face {
  font-family: 'Rubik';
  src: url('fonts/Rubik-Regular.ttf') format('truetype');
  /* You can add other font properties like font-weight and font-style here */
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('fonts/Rubik-Bold.ttf') format('truetype');
  /* You can add other font properties like font-weight and font-style here */
}

@font-face {
  font-family: 'Rubik-ExtraBold';
  src: url('fonts/Rubik-ExtraBold.ttf') format('truetype');
  /* You can add other font properties like font-weight and font-style here */
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('fonts/Rubik-Medium.ttf') format('truetype');
  /* You can add other font properties like font-weight and font-style here */
}

.rubik-medium {
  font-family: 'Rubik-Medium';
}

.rubik-bold {
  font-family: 'Rubik-Bold';
  font-weight: 900;
}

.rubik-extrabold {
  font-family: 'Rubik-ExtraBold';
  font-weight: 900;
}

.rubik {
  font-family: 'Rubik';
}

.even-bolder {
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}


.shaking-text {
  animation: shake 2s infinite;
}

@keyframes shake {
  0%, 80% { /* Pause at the beginning and end */
    transform: rotate(0deg);
}

20% {
    transform: rotate(2deg);
}
30% {
    transform: rotate(-2deg);
}
40% {
    transform: rotate(2deg);
}
50% {
    transform: rotate(-2deg);
}
60% {
    transform: rotate(2deg);
}
70% {
    transform: rotate(-2deg);
}
}

@keyframes loading {
  0% {
    width: 0%;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity:1
  }
  100% {
    width: 100%;
    opacity:0
  }

}